* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height:100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

.title {
  color: white;
  font-weight: 300;
  font-size: 1.25em;
  margin: 0;
  padding: 10px;
  text-align: center;
}

#add_icon {
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: 80px;
  width: 80px;
  border-radius: 40px;
}

#add_icon:hover {
  stroke: black;
  stroke-width: 5px;
}

/*
========================================
    Info / Edit menu
========================================
 */
#tabs {
  position: absolute;
  right: 0;
  top: 0;
  width: 25%;
  background-color: #41BAFF;
  padding: 5px 10px 10px 10px;
  color: white;
  font-weight: 300;
}

.tab_title {
  display: inline-block;
  width: 50%;
}

#tab_content {
  background-color: white;
  color: black;
  padding: 10px;
  overflow-wrap: break-word;
  max-height: 50vh;
  overflow: scroll;
  font-size: 16px;
}

#tab_bar {
  display: flex;
  justify-content: space-between;
}

#edit_form {
  padding: 0px;
  background-color: white;
  text-align: center;
}

.edit_box {
  display: inline;
  width: 45%;
  max-width: 45%;
  margin: 10px 0;
  font-size: 16px;
}

#editing {
  width: 100%;
  text-align: center;
  font-size: 1.25em;
  color: #FF9F5F;
  padding-bottom: 10px;
}

#tabs.editing {
  width: 50%;
  background-color: #FF9F5F;
}

#save.button {
  background-color: #41BAFF;
}

#cancel.button {
  background-color: #5F5F5F;
}

#error_container {
  background-color: white;
  color: firebrick;
  overflow-y: scroll;
  padding: 5px 10px 10px 10px;
  border: 1px solid red;
  max-height: 4em;
  overflow-y: scroll;
  margin-top: 5px;
}

#error_message {
  font-size: 12px;
}

/*
========================================
    Settings Menu
========================================
 */
#settings_container{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #41BAFF;
}

.options_container {
  background-color: white;
  border-top: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding: 5px 0;
  text-align: justify;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.mi {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  height: 30px;
  margin: 0 10px;
}

.mi_label {
  margin-right: 20px;
}

.color_input {
  height: 28px;
  width: 25px;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: white;
}

.settings_icon {
  float: right;
}

/*
========================================
    Legend
========================================
 */
#legend_container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #41BAFF;
}

.color_bubble {
  height: 26px;
  width: 26px;
  border-radius: 13px;
  background-color: #41BAFF;
}

#a_output {
  background-color: #FF8723;
}

#t_output {
  background-color: #FFC944;
}

#c_output {
  background-color: #10A8FF;
}

#g_output {
  background-color: #00FF81;
}

/*
========================================
    DNA SVGs
========================================
 */
.node {
  fill: transparent;
  fill-opacity: .6;
  stroke-opacity: .7;
}

.node:hover {
  stroke: #C324FF;
  stroke-width: 3px;
  stroke-opacity: 1;
}

text {
  pointer-events: none;
}

.link {
  stroke: #777;
  stroke-width: 2px;
}

.pair {
  stroke: #C60000;
  stroke-width: 3px;
}

.adenine {
  stroke: #FF8723;
  fill: #FF8723;
}

.thymine {
  stroke: #FFC944;
  fill: #FFC944;
}

.cytosine {
  stroke: #10A8FF;
  fill: #10A8FF;
}

.guanine {
  stroke: #00FF81;
  fill: #00FF81;
}

/*
========================================
    Utility classes
========================================
 */
.paper {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.button {
  display: inline-block;
  font-size: 1.25em;
  text-align: center;
  padding: 10px 25px;
  margin-top: 10px;
  background-color: #FF9F5F;
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}

.selected_tab {
  color: #41BAFF;
  background-color: white;
}

.selected_char {
  outline: 3px solid #4FFF54;
}

.node.selected_node {
  stroke: #4FFF54;
  stroke-width: 3px;
  stroke-opacity: 1;
}

.hidden {
  display: none;
}
